<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= list.name %>
</p>

<table>
  <% entries.each do |entry| %>
    <tr>
      <td><%= entry.item ? entry.item.name : 'Unknown' %></td>
      <td><%= entry.quantity %></td>
      <td>
        <%= form_for [list, entry], remote: true do |f| %>
          <%= f.check_box :bought, class: "entry_bought" %>
        <% end %>
      </td>
      <!-- Remove show function, unnecessary
      <td><%= link_to 'Show', list_entry_path(list, entry) %></td> --> 
      <td><%= link_to 'Edit', edit_list_entry_path(list, entry), class: "button tiny secondary" %></td>
      <td><%= link_to 'X', list_entry_path(list, entry), class: "button tiny secondary", method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Add New Entry', new_list_entry_path(list) %>
<%= link_to 'Edit', edit_list_path(list) %> |
<%= link_to 'Back', lists_path %>
