<h1>Shopping List for <%= list.name %></h1>

<table>
  <tr>
    <th>Item</th>
    <th>Quantity</th>
    <th>Bought</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% entries.each do |entry| %>
  <tr>
    <td><%= entry.item ? entry.item.name : 'Unknown' %></td>
    <td><%= entry.quantity %></td>
    <td><%= entry.bought %></td>
    <td><%= link_to 'Show', list_entry_path(list, entry) %></td>
    <td><%= link_to 'Edit', edit_list_entry_path(list, entry) %></td>
    <td><%= link_to 'Destroy', list_entry_path(list, entry), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Entry', new_list_entry_path(list) %>
