<p id="notice"><%= notice %></p>

<p>
  <b>List:</b>
  <%= entry.list.name %>
</p>

<p>
  <b>Item:</b>
  <!-- entry.item.name -->
  <%= entry.item ? entry.item.name : ''%>
</p>

<p>
  <b>Quantity:</b>
  <%= entry.quantity %>
</p>

<p>
  <b>Bought:</b>
  <%= entry.bought %>
</p>


<%= link_to 'Edit', edit_list_entry_path(list, entry) %> |
<%= link_to 'Back', list_entries_path(list) %>
